<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--引入springmvc的配置文件-->
    <import resource="classpath:springmvc-servlet.xml"/>

    <!--7.注册bean,交给spring管理-->
    <bean id="/hello" class="com.swj.controller.HelloController"/>
</beans>